/* CSS Document */
.node-rei_inventory-form .vertical-tabs .form-type-textfield input {
    width: inherit;
}
.field.field-type-entityreference ul.shs-hierarchy, .field.field-type-taxonomy-term-reference ul.shs-hierarchy {
    margin: 6px 0;
    padding: 0;
    line-height: 1em;
    overflow: hidden;
}
.field ul.shs-hierarchy li {
    float:left;
    margin-left: 5px;
}