/* CSS Document */
.field-inventory {
    margin-bottom: 5px;
}

.label-above + .field-items {
    margin-top: -3px;
    overflow: hidden;
}

.field-name-field-rei-user-name {
    font-weight: bold;
    font-size: 1.2em;
}

/* Inventory Views */
.inventory-list + .inventory-list {
    margin-top: 15px;
    border-top: 1px solid #CCC;
}

.field-name-field-rei-classification, .field-name-field-rei-dept {}

.field-name-field-rei-classification .field-item, .field-name-field-rei-dept .field-item, .field-name-field-rei-user-dept .field-item {
    margin-left: 12px;
}

.field-name-field-rei-classification .field-item ul li:last-child, .field-name-field-rei-dept .field-item ul li:last-child, .field-name-field-rei-user-dept .field-item ul li:last-child {
    font-weight: bold;
}

.field-name-field-rei-image img {
    margin-right: 10px;
}

/* Add bootstrap float class in case theme isn't bootstrap based */
.field-inventory.pull-left {
    float: left;
}

.inventory-list .field-inventory.field-name-body { clear: left;}